<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> 
        
        <bean name="hospital" class="com.basic.springcore.secondspring.Hospital">
        <property name="name" value="esic hospital"/>
        
        <property name="departments">
        <list>
        
        <value>office room</value>
        <value>operation room</value>
        <value>waiting room</value>
        <value>sleeping room</value>
        </list>
        </property>
        
        </bean>
        

</beans>