<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> 
        
      
        
      <bean name="cardealer" class="com.basic.springcore.thirdspring.CarDealer">
      <property name="name">
      <value>car details</value>
      </property>
      <property name="Models">
      <set>
      <value>maruthi</value>
      <value>bmw</value>
      <value>audi</value>
      <value>baleno</value>
      <value>bmw</value>
      </set>
      </property>
      
      </bean>
        

</beans>